<div class="detail" id="fleet-detail" ng-show="selection.current.fleet">
  <label>fleet id: {{selection.fleet.id}}</label>
  <label>name: <input ng-model="selection.fleet.name"/></label>
  <label>coords: ( {{selection.fleet.x}}, {{selection.fleet.y}} )</label>
  <label>ships: {{selection.fleet.ships}}</label>

  <ul class="waypointlist">
    <li ng-repeat="wp in selection.fleet.waypoints" ng-click="showWaypointEdit = !showWaypointEdit">
      <span ng-show="!showSpeedEdit" ng-click="showSpeedEdit = true" click-hide="showSpeedEdit = false">( {{wp.x}}, {{wp.y}} )</span>
      <span  ng-show="showSpeedEdit">
        ( <input type="text" ng-model="wp.x" value="{{wp.x}}"/>,
          <input type="text" ng-model="wp.y" value="{{wp.y}}"/>)
      </span>

      speed: {{wp.speed}}
      <span ng-show="showWaypointEdit" ng-click="removeWaypoint(wp)">x</span>
    </li>
  </ul>

  <button ng-click="setMode('addWaypoint')" ng-hide="mode=='addWaypoint'">Add Waypoint</button>
  <button ng-click="setMode('std');" ng-show="mode=='addWaypoint'">Cancel</button>
  <speed-widget ng-show="mode=='addWaypoint'" fleet="selection.current"></speed-widget>
</div>
